<div class="text-center">
  <h1><%= @todo.title %></h1>
</div>
<div class="col-md-12">
  <div class="group">
    <%= link_to("添加评论", new_team_project_todo_review_path(@team, @project, @todo), class: "btn btn-danger pull-right") %>
  </div>
</div>
  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>评论内容</td>
        <td>操作选项</td>
        <td>创建时间</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "review_item", :collection => @reviews, :as => :review, locals: { team: @team, project: @project, todo: @todo }  %>
    </tbody>
  </table>
